<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>カメラモーション作成</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>window.TextEncoder = window.TextDecoder = null;</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha384-QQHQegn8rXS0f+OA+gKytbVKv4X2QE0c480vA/4vm9tc+yOlCFvKcipBvgHDPPzy" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/inexorabletash/text-encoding/v0.6.4/lib/encoding-indexes.js" integrity="sha384-35I7P//wj0Kh7Kr25/CARCixpda3YoU/Jwg7zyw2KDbAaq0F0HbJjTfe8ft35k8S" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/inexorabletash/text-encoding/v0.6.4/lib/encoding.js" integrity="sha384-wB1b1TVi9Aqygd3fG3faulFZ5t7hnxLIHy/Jux0VVbrdgaFFXwFA1eZ8vSv4BKBV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" integrity="sha384-DwsLA0O/He+RjlS7pFkqEHfsCgdTMU+nSuUq/qkxvKSTED+s4vRttKEZtf4xTW1+" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>カメラモーション作成</h1>
          <div class="well">
            <div class="form-group">
              <label>カメラ中心</label>
              <div class="form-inline">
                <div class="form-group">
                  <label for="x">X</label>
                  <input type="text" size="5" class="form-control" id="x" v-model="x">
                </div>
                <div class="form-group">
                  <label for="y">Y</label>
                  <input type="text" size="5" class="form-control" id="y" v-model="y">
                </div>
                <div class="form-group">
                  <label for="z">Z</label>
                  <input type="text" size="5" class="form-control" id="z" v-model="z">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>角度</label>
              <div class="form-inline">
                <div class="form-group">
                  <label for="rx">X</label>
                  <input type="text" size="5" class="form-control" id="rx" v-model="rx">
                </div>
                <div class="form-group">
                  <label for="ry">Y</label>
                  <input type="text" size="5" class="form-control" id="ry" v-model="ry">
                </div>
                <div class="form-group">
                  <label for="rz">Z</label>
                  <input type="text" size="5" class="form-control" id="rz" v-model="rz">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="log">システムからのメッセージ</label>
              <textarea rows="8" readonly class="form-control" id="log"></textarea>
            </div>
            <button class="btn btn-primary" v-bind:disabled="isLoading || isProcessing" v-on:click="createMotion">VMD生成</button>
          </div>
          <section>
            <h2>説明</h2>
            <p>
              カメラの位置と向きを入力すると、それを正面として360°回転するカメラモーションを作成します。
            </p>
          </section>
        </div>
      </div>
    </div>
    <script src="source_code/dist/index.main.js"></script>
  </body>
</html>
